<div class="row">
	<div class="col-md-4">
		<div class="panel panel-info">
		  <div class="panel-heading">
		    <h3 class="panel-title">{{ job.extracted_job_data.job_title }}</h3>
		  </div>
		  <div class="panel-body">
		  	<p>
		  		{{ job.extracted_job_data.company_name }}
		  		<br />
		  		{{ job.extracted_job_data.job_location }}
		  		<br />
		  		<a href="{{ job.url }}" target="_blank">Original Link</a>
		  	</p>
		  </div>
		  <div class="panel-footer">
		  	<a href="{{ job.extracted_job_data.job_url }}" class="btn btn-info" target="_blank">Job Posting</a>
		  	<a href="/job/delete/{{ job.id }}" class="btn btn-sm btn-default glyphicon glyphicon-trash pull-right"></a>
		  </div>
		</div>
	</div>
</div>